@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
    letter-spacing: 0.1em;

    &__btn {
        display: none;
    }

    &__list {
        display: grid;
        justify-content: end;
        grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
        gap: 20px;
        @include unlist(0 -10px 0 0);
    }

    &__link {
        padding: $gap $gap-sm;
        display: block;
        transition: color 0.3s;
        font-size: 1.125rem;

        &:hover,
        &:focus {
            color: $color-accent;
        }
    }

}