@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
    &__btn {
        display: none;
    }

    &__list {
        display: flex;
        justify-content: flex-end;
        // gap: $gap;
        @include unlist;
    }

    &__item {
        padding: $gap $gap-sm;
    }

    &__link {
        padding: $gap $gap-sm;
        display: block;
        transition: color 0.5s;
        &:hover,
        &:focus {
            color: $color-accent;
        }
    }

}