@use "../presets" as *;
@use "../mixins" as *;

.btn {
    padding: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;
    transition: color 0.3s;

    &:hover,
    &:focus {
        color: $color-light;
        background-color: $color-accent;
    }
}

.btn--light {

    @include lg-min {
        min-width: 250px;
        height: 60px;
        font-size: 1.125rem;
    }

    @include lg-md {
        min-width: 200px;
        height: 50px;
    }

    @include md {
        min-width: 170px;
        height: 40px;
    }

    background-color: rgba($color-light, 0.1);
    border: 2px solid $color-light;
}

.btn--primary {
    background-color: rgba($color-primary, 0.8);
    border: 2px solid $color-primary;
    font-size: 1.125rem;

    height: 60px;

    @include lg-min {
        min-width: 350px;
        height: 60px;
    }

    @include lg-md {
        min-width: 350px;
        height: 66px;
    }

    @include md-sm {
        min-width: 350px;
        height: 60px;
    }

    @include sm {
        width: 100%;
    }
}