@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: $font-size;
    font-family: $font-main;
    color: $color-gray;
    overflow-y: scroll;
}

a {
    color: $color-light;
    text-decoration: none;
}

h1 {
    @include lg-min {
        font-size: 3.75rem;
    }

    letter-spacing: 0.08em;
    font-weight: 300;
    font-family: $font-header;
    line-height: 1.2em;
}